/*
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
*/

#ajax-wrapper, .year-cal-wrapper, .year-cal-row, .cal-block-outter, .cal-block, .cal-row,
.cal-row-block, .cal-title-block, .day-head-block, .blank-day-block, .day-issue-block,
.day-no-issue-block,

#ajax-wrapper, .year-cal-wrapper, .year-cal-row, .cal-block-outter, .cal-block, .cal-row,
.cal-row-block, .cal-title-block, .day-head-block, .blank-day-block, .day-issue-block,
.day-no-issue-block:before,

#ajax-wrapper, .year-cal-wrapper, .year-cal-row, .cal-block-outter, .cal-block, .cal-row,
.cal-row-block, .cal-title-block, .day-head-block, .blank-day-block, .day-issue-block,
.day-no-issue-block:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.cal-controls {
  float:right;
}

#ajax-wrapper {
  /*border:1px solid blue;*/
  margin-top:12px;
  margin-bottom:12px;
  float:left;
}

.year-cal-wrapper {
  /*border:1px solid red;*/
  float:left;
}

.year-cal-row {
  /*border:1px dashed green;*/
  /*padding:1px;*/
  /*float:left;*/
  /*clear:both;*/
  /*height:17em;*/
}

/* Added for height setting, so actual .cal-block can still be bordered around what's there */
.cal-block-outter {
  float:left;
  /*border: 1px solid red;*/
  /*height: 255px;*/
  height:17em;

  max-width:24%;       /*24.5*/
  min-width:260px;
  /*min-width:240px;*/
  margin:5px;

}

.cal-block {
  border:2px solid black;
  padding:1px;
  float:left;
}

.cal-row {
  clear:both;
}

.cal-row-block {
  /*border:1px solid red;*/
  /*padding:1px;*/
  float:left;
  width:100%;
  min-width:256px;
}

.cal-title-block {
  border:1px solid black;
  width:100%;
  background-color:#dddddd;
  color:black;
  float:left;
  text-align:center;
}

.day-head-block {
  float:left;
  width:13.5%;
  min-width:25px;
  /*max-width:30px;*/
  padding:2px;
  margin:1px;

  text-align:center;
  border:1px solid black;
}

.blank-day-block {
  float:left;
  width:13.5%;
  min-width:25px;
  padding:2px;
  margin:1px;

  text-align:center;
  border:1px solid black;
}

.day-issue-block {
  float:left;
  width:13.5%;
  min-width:25px;
  padding:2px;
  margin:1px;

  text-align:center;
  border:1px solid black;
}

.day-no-issue-block {
  float:left;
  width:13.5%;
  min-width:25px;
  padding:2px;
  margin:1px;

  color: grey;

  text-align:center;
  border:1px solid black;
}