.year-cal-wrapper {
 /*border:1px solid red;*/
  /*padding:1px;*/
  /*position:relative;*/
  /*margin:1px;*/
  float:left;
  width:100%;
  /*overflow:hidden;*/
}

.year-cal-row {
  /*border:1px solid white;*/
  /*width:100%;*/
  /*padding:2px;*/
  /*position:relative;*/
  float:left;
  /*margin:2px;*/
  /*width:930px;*/
  width:100%;
}

.cal-block {
  border:1px solid black;
  padding:1px;
  /*position:relative;*/
  float:left;
  margin:2px;
  /*width:227px;*/
  /*width:100%;*/
  /*background-color:#dddddd;*/
  width:24%;
  height:278px;

}

.cal-row {
  /*border:1px solid orange;*/
  /*padding:1px;
  position:relative;
  text-align:center;
  margin:1px;
  /*float:left;*/
  clear:both;
}

.cal-row-block {
  border:1px solid #dddddd;
  padding:1px;
  /*position:relative;*/
  text-align:center;
  margin-left:1px;
  float:left;
  width:98%;
  /*display:block;*/
  /*clear:both;*/
}

.cal-title-block {
  border:1px solid black;
  /*padding-left:3px;*/
  /*margin:1px;*/
  width:99%;
  background-color:#dddddd;
  color:black;
  /*position:relative;*/
  float:left;
  text-align:center;
  /*margin-left:2px;*/

}

.day-head-block {
  border:1px solid grey;
  padding:5px;
  margin:1px;
  /*width:5%;*/
  /*position:relative;*/
  float:left;
  text-align:center;
  width:8.25%;
}

.blank-day-block {
 border:1px solid grey;
  /*position:relative;*/
  float:left;
  padding:5px;
  margin:1px;
  /*width:5%;*/
  /*position:relative;*/

  text-align:center;
  width:8.25%;

}

.day-issue-block {

  border:1px solid red;
  float:left;
  padding:5px;
  margin:1px;
  /*width:5%;*/
  /*position:relative;*/

  text-align:center;
  width:8.25%;
  font:bold;

}

.day-no-issue-block {

  border:1px solid grey;
  float:left;
  padding:5px;
  margin:1px;
  /*width:5%;*/
  /*position:relative;*/

  text-align:center;
  width:8.25%;
  color: #dddddd;


}








.cal-controls {

  float:right;
}

.outside {
  /*border:5px solid red;*/
}

.outter {
  /*border: 3px solid blue;*/
  /*width:100%;*/
}
