#ajax-wrapper, .year-cal-wrapper, .year-cal-row, .cal-block-outter, .cal-block, .cal-row,
.cal-row-block, .cal-title-block, .day-head-block, .blank-day-block, .day-issue-block,
.day-no-issue-block,

#ajax-wrapper, .year-cal-wrapper, .year-cal-row, .cal-block-outter, .cal-block, .cal-row,
.cal-row-block, .cal-title-block, .day-head-block, .blank-day-block, .day-issue-block,
.day-no-issue-block:before,

#ajax-wrapper, .year-cal-wrapper, .year-cal-row, .cal-block-outter, .cal-block, .cal-row,
.cal-row-block, .cal-title-block, .day-head-block, .blank-day-block, .day-issue-block,
.day-no-issue-block:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#ajax-wrapper {
  margin-top:12px;
  margin-bottom:12px;
  float:left;
}

#date-change {
  float:left;
}

.year-cal-wrapper {
  float:left;
}

.cal-block-outter {
  float:left;
  height:17em;
  max-width:24%;
  min-width:260px;
  margin:5px;
}

.cal-block {
  border:2px solid black;
  padding:1px;
  float:left;
}

.cal-row {
  clear:both;
}

.cal-row-block {
  float:left;
  width:100%;
  min-width:256px;
}

.cal-title-block {
  border:1px solid black;
  width:100%;
  background-color:#dddddd;
  color:black;
  float:left;
  text-align:center;
}

.day-head-block {
  float:left;
  width:13.5%;
  min-width:25px;
  padding:2px;
  margin:1px;
  text-align:center;
  border:1px solid black;
}

.blank-day-block {
  float:left;
  width:13.5%;
  min-width:25px;
  padding:2px;
  margin:1px;
  text-align:center;
  border:1px solid black;
}

.day-issue-block {
  float:left;
  width:13.5%;
  min-width:25px;
  padding:2px;
  margin:1px;
  text-align:center;
  border:1px solid black;
}

.day-no-issue-block {
  float:left;
  width:13.5%;
  min-width:25px;
  padding:2px;
  margin:1px;
  color: grey;
  text-align:center;
  border:1px solid black;
}